<h2>Where is the nearest parking lot? We'll help you ParkIt!</h2>
<div class="container">
  <div id="map-container">
    <a href="javascript:void(0)" class="retina-image">
      <iframe width='100%' height='500px' frameBorder='0'
      src='https://a.tiles.mapbox.com/v4/timproctor.jlid9hm5/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoidGltcHJvY3RvciIsImEiOiJZOXNzekxjIn0.Ilb5Tb1Uo44qlOtFTA5NCw'></iframe>
    </a>
  </div>
  <div id="search-tools" class="row">
    <!-- <%= render "search" %> -->
  </div>
</div>
