<h1>We can help you ParkIt</h1>
<div class="map-container">
  <div id="address-search" class="searchbar">
    <%= form_for "search" do |f| %>
      <%= f.label :address %>
      <%= f.text_field :address, placeholder: "Enter address, we'll show you where to parkit." %><br />
      <%= f.submit %>
    <% end %>
  </div>
  <div id="map">
    map goes here
  </div>
</div>
