<h2>Where is the nearest parking lot? We'll help you ParkIt!</h2>
<div class="outer-container">
  <div class="refills-wrapper">
    <%= render "search" %>
  </div>
  <div id="map-container">
    <a href="javascript:void(0)" class="retina-image">
      <img src="assets/images/static.png" alt="static-map">
    </a>
  </div>
</div>
