<header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to image_tag('chargeit.ico'), root_path, class: 'logo' %>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
      </ul>
    </div>
    <div class="navigation-tools">
    </div>
  </div>
</header>
