<div class="search-tool">
  <%= form_tag("/search", method: "post", class: "address-search-form") do %>
    <%= text_field_tag(:q, nil, {id: 'address-search', placeholder: 'Charging stations near which address?'}) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
