<%= content_tag(:h1, 'Charging Facilities Near You') %>

<% @charging_stations.each do |station| %>
  <div classs="listings">
    <div class="facility_name">
      <%= station.facility_name %>
    </div>
    <h4>Address:</h4>
    <div class="address">
      <ul>
        <%= station.full_address %>
      </ul>
    </div>
  </div>
<% end %>
