<!DOCTYPE html>
<html class="no-js">
<head>
  <title>ParkIt</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" type="text/css" media="all" />

  <link rel="stylesheet" href="css/application.css" type="text/css" media="all" />

  <script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>
  <header role="banner" id="page_header">
    <div class="logo">ParkIt Logo</div>
    <div class="user">UserProfile</div>
  </header>
  <nav role="navigation" id="global_nav"> </nav>
  <div class="content">
    <%= yield %>
  </div>
  <footer role="contentinfo" id="page_footer">
    https://github.com/timproctor/parkit
  </footer>
</body>
</html>
